name: flutter_monitor
description: Robot Remote Monitoring Client via gRPC
version: 1.0.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # gRPC & Protobuf
  grpc: ^3.2.4
  protobuf: ^3.1.0
  
  # State Management
  flutter_bloc: ^8.1.3
  
  # UI
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
