[Unit]
Description=LingTu Navigation System Target
Documentation=https://github.com/Kitjesen/MapPilot
Wants=robot-brainstem.service robot-camera.service robot-lidar.service robot-fastlio2.service robot-localizer.service lingtu.service
After=network.target robot-brainstem.service robot-camera.service robot-lidar.service robot-fastlio2.service robot-localizer.service lingtu.service

[Install]
WantedBy=multi-user.target
